* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

body {
  background: #393d40;
  padding-bottom: 60px;
  margin: 0px;
}

h1 {
  font-family: georgia, sans-serif, monospace;
  color: #c2d0d0;
  font-weight: normal;
  letter-spacing: .04em;
}

.ponto {
  color: #df7b00;
}

/* alinhamento do topo */
body>div {
  padding: 160px 0 0 0;
}

.titulo {
  text-align: center;
  font-size: .9em;
  font-weight: normal;
  line-height: 3em;
}

.exemplo {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #868c8c;
}

.countdown {
  max-width: 900px;
  height: 200px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
}

.dados {
  margin: auto;
  height: 150px;
  width: 210PX;
  border-radius: 4px;
  color: #00ffff;
  /*   background-image: linear-gradient(180deg, #1c1e1f, #191c1d, #131617); */
  background-image: linear-gradient(180deg, #24282a, #14181a);
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
}

.countdown span {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
  font-size: 5em;
}

.text {
  margin: 8px 0 0 0;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #91a8a8;
  font-size: 1em;
}

@media (max-width: 950px) {
  .countdown {
    max-width: 700px;
    height: 150px;
    margin: 5px auto;
  }

  .dados {
    height: 120px;
    width: 160PX;
  }

  .titulo {
    font-size: .8em;
  }

  .countdown span {
    margin: 10px 0 0 0;
    font-size: 3.5em;
  }

  .exemplo {
    font-size: 1.3em;
  }

  .text {
    font-size: .8em;
  }
}

@media (max-width: 740px) {
  .countdown {
    max-width: 565px;
    height: 120px;
    margin: 8px auto;
  }

  .dados {
    height: 120px;
    width: 130PX;
  }
}

@media (max-width: 600px) {
  .countdown {
    max-width: 330px;
    height: 260px;
    margin: 5px auto;
  }

  .dado1 {
    flex-basis: 320px;
  }

  .dados234 {
    flex-basis: 100px;
    margin: 10px auto;
  }

  .countdown span {
    margin: 15px 0 0 0;
    font-size: 3em;
    justify-content: center;
  }

  .text {
    font-size: .75em;
    margin: 12px 0 0 0;
  }

}

@media (max-width: 340px) {
  .countdown {
    max-width: 270px;
    height: 260px;
    margin: 5px auto;
  }

  .dado1 {
    flex-basis: 260px;
  }

  .dados234 {
    flex-basis: 80px;
    margin: 10px auto;
  }

  .countdown span {
    margin: 15px 0 0 0;
    font-size: 3em;
  }

  .titulo {
    font-size: .65em;
    line-height: 3em;
  }

  .text {
    font-size: .75em;
    margin: 15px 0 0 0;
  }
}