* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

body {
  background: #393d40;
  padding-bottom: 60px;
  margin: 0px;
}

h1 {
  font-family: georgia, sans-serif, monospace;
  color: #c2d0d0;
  font-weight: normal;
}

.ponto {
  color: #df7b00;
}

/* alinhamento do topo */
body>div {
  padding: 160px 0 0 0;
}

.geral {
  height: 400px;
  justify-content: center;
}

.titulo {
  text-align: center;
  font-size: .9em;
  font-weight: normal;
  line-height: 3em;
}

.exemplo {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #868c8c;
}

.countdown {
  max-width: 900px;
  height: 200px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
}


.dados {
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 150px;
  width: 210PX;
  border-radius: 4px;
  color: #00ffff;
  background-image: linear-gradient(180deg, #1c1e1f, #191c1d, #131617);
  box-shadow: 0px .5px 4px #070909;
}

.countdown span {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
  font-size: 5em;
}

.text {
  margin: 8px 0 0 0;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #91a8a8;
  font-size: 1em;
}

@media (max-width: 950px) {
  .countdown {
    max-width: 700px;
    height: 150px;
    margin: 5px auto;
  }

  .dados {
    height: 120px;
    width: 160PX;
  }

  .titulo {
    font-size: .8em;
  }

  .countdown span {
    margin: 10px 0 0 0;
    font-size: 3.5em;
  }

  .exemplo {
    font-size: 1.3em;
  }

  .text {
    font-size: .8em;
  }
}

@media (max-width: 740px) {
  .countdown {
    max-width: 565px;
    height: 120px;
    margin: 8px auto;
  }

  .dados {
    height: 120px;
    width: 130PX;
  }
}

@media (max-width: 600px) {
  .countdown {
    max-width: 320px;
    height: 120px;
  }

  .countdown span {
    margin: 10px 0 0 0;
    font-size: 3em;
  }

  .text {
    font-size: .75em;
  }

  .dado1 {
    height: 110px;
    width: 320px;
    margin: 2px auto 5px;
  }

  .dado2 {
    height: 110px;
    width: 100px;
    margin: 5px 5px 5px 0px;
  }

  .dado3 {
    height: 110px;
    width: 100px;
    margin: 5px 5px 5px 5px;
  }

  .dado4 {
    height: 110px;
    width: 100px;
    margin: 5px 0px 5px 5px;
  }


  @media (max-width:340px) {
    .countdown {
      max-width: 260px;
      height: 120px;
    }

    .countdown span {
      margin: 10px 0 0 0;
      font-size: 3em;
    }

    .titulo {
      font-size: .65em;
      line-height: 3em;
    }

    .text {
      font-size: .75em;
    }

    .dado1 {
      height: 110px;
      width: 320px;
      margin: 2px auto 5px;
    }

    .dado2 {
      height: 110px;
      width: 80px;
      margin: 5px 5px 5px 0px;
    }

    .dado3 {
      height: 110px;
      width: 80px;
      margin: 5px 5px 5px 5px;
    }

    .dado4 {
      height: 110px;
      width: 80px;
      margin: 5px 0px 5px 5px;
    }
  }
}